fastapi>=0.115.0
uvicorn[standard]>=0.30.0
requests>=2.32.0
beautifulsoup4>=4.12.0
lxml>=5.2.0
PyMuPDF>=1.24.0
img2pdf>=0.5.0
curl_cffi>=0.7.0
pydantic>=2.7.0
websockets>=12.0
python-multipart>=0.0.9
bencodepy>=0.9.0
pyinstaller>=6.0.0
zstandard>=0.22.0